[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==1.11"
"psycopg2-binary" = "*"
django-heroku = "*"
gunicorn = "*"
docutils = "*"
django-crispy-forms = "*"
django-debug-toolbar = "*"
pillow = "*"
django-allauth = "*"

[dev-packages]

[requires]
python_version = "3.6"
